<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Meedz - Dossier de compétences</title>
    <link th:href="@{src/main/resources/static/primeflex.css}" rel="stylesheet"/>
    <style type="text/css">
        hr { color: #3772FF }
        @page {
            margin: 30pt;
            size: A4 portrait;
            @bottom-left {
                color: #3772FF;
                padding-left: 40pt;
                margin-bottom: 50pt;
                content: "MEEDZ – 270, Avenue de la République - 59110 LA MADELEINE";
            }
            @bottom-right {
                color: #3772FF;
                padding-right: 40pt;
                content: "https://meedz.io";
            }
            counter-increment: page;
            counter-reset: page 1;
        }
    </style>
</head>

<body style="padding-left: 30pt; padding-right: 35pt">

<div style="text-align: right">
    <img th:src="@{src/main/resources/images/meedz-title.jpg}" alt="logo MEEDZ" width="24%"/>
</div>
<div style="display: inline-block; width: 100%; margin-bottom: 20pt">
    <span style="display: inline-block; width: 22%">
        <img th:src="@{src/main/resources/images/meedz-logo.jpg}" alt="logo MEEDZ" width="80pt"/>
    </span>
    <span style="display: inline-block; width: 70%">
        <h1 style="margin: 0;
    padding: 0;
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 18pt;
    padding-top: 12pt;
    text-indent: 0pt;
    line-height: 22pt;
    text-align: left;"
            th:text="${first_name}">
        </h1>
        <h2 style="margin: 0;
    padding: 0;
    color: #3772FF;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
    text-indent: 0pt;
    line-height: 19pt;
    text-align: left;"
            th:text="${actual_function}">
        </h2>
        <h2 style="margin: 0;
    padding: 0;
    color: #3772FF;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
    text-indent: 0pt;
    line-height: 20pt;
    text-align: left;"
            th:text="${experience_years} + ' années d\'expériences'">
        </h2>
    </span>
</div>

<div style="padding: 0;
    margin: 0pt;
    color: black;
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
    text-indent: 0pt;
    text-align: justify;"
     th:remove="tag" th:utext="${preamble}"></div>

<hr/>

<div>
    <h2 style="padding-top: 17pt;
    margin: 0;
    color: #3772FF;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 15pt;

    text-indent: 0pt;
    text-align: left;">RESUME</h2>
    <ul>
        <li style="padding: 0;
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    margin: 0pt;
    padding-top: 1pt;
    text-align: left;"
            th:each="experience : ${experiences}"
            th:text="${experience.convertDateToMonthYearNumberString(experience.begin_date)} + ' au ' + ${experience.convertDateToMonthYearNumberString(experience.ending_date)} + ' : ' + ${experience.client} + ' - ' + ${experience.work_function}">
        </li>
    </ul>
</div>

<hr/>

<div>
    <h2 style="padding-top: 17pt;
    margin: 0;
    color: #3772FF;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 15pt;
    text-indent: 0pt;
    text-align: left;">COMPETENCES</h2>
    <div style="padding-top: 10pt; padding-left: 20pt;">
        <div th:remove="tag" th:utext="${skills}"></div>
    </div>
</div>

<hr/>

<div>
    <h2 style="padding-top: 20pt;
    padding-bottom: 10pt;
    margin: 0;
    padding: 0;
    color: #3772FF;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 15pt;

    text-indent: 0pt;
    text-align: left;">EXPERIENCES PROFESSIONNELLES</h2>
    <div style="padding-top: 10pt; padding-left: 20pt;">
        <div th:each="experience : ${experiences}">
            <!--            <div th:text="${experience.convertDateToString(experience.begin_date)} + ' au ' + ${experience.convertDateToString(experience.ending_date)} + ' : ' + ${experience.client} + ' - ' + ${experience.work_function}"></div>-->
            <div style="padding: 0;
    margin: 0pt;
    color: #3772FF;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 13pt;
    padding-top: 13pt;
    text-indent: 0pt;
    text-align: left;" th:text="${experience.work_function} + ' - ' + ${experience.client}"></div>
            <div style="padding: 0;
    margin: 0pt;
    color: #3772FF;
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
    text-indent: 0pt;
    text-align: left;"
                 th:text="${experience.convertDateToMonthTextYearString(experience.begin_date)} + ' à ' + ${experience.convertDateToMonthTextYearString(experience.ending_date)}"></div>
            <div th:remove="tag" th:utext="${experience.details}"></div>
        </div>
    </div>
</div>

<hr/>

<div>
    <h2 style="padding-top: 17pt;
    margin: 0;
    color: #3772FF;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 15pt;
    text-indent: 0pt;
    text-align: left;">LANGUES</h2>
    <div>
        <ul>
            <li th:each="language : ${languages}" th:text="${language}"></li>
        </ul>
    </div>
</div>

<hr/>

<div>
    <h2 style="padding-top: 17pt;
    margin: 0;
    color: #3772FF;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 15pt;
    text-indent: 0pt;
    text-align: left;">FORMATION</h2>
    <div style="padding-top: 10pt;">
        <div th:each="learning : ${learnings}">
            <span style="font-weight: bold" th:text="${learning.convertDateToYearString(learning.ending_date)}"></span>
            <span th:text=" '- ' + ${learning.institution}"></span>
            <span th:text=" '- ' + ${learning.name}"></span>
        </div>
    </div>
</div>

</body>

</html>
