<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Meedz - Dossier de compétences.docx</title>
    <link th:href="@{src/main/resources/static/primeflex.css}" rel="stylesheet"/>
    <style type="text/css">
        .s1 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 18pt; }
        h2 { color: #3772FF; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 16pt; margin:0pt; }
        .s2 { color: black; font-family:Calibri, sans-serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 12pt; }
        .s3 { color: black; font-family:Arial, sans-serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 12pt; }
        h1 { color: #3772FF; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 18pt; margin:0pt; }
        .s4 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 13pt; }
        .s5 { color: #3770FF; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 18pt; }
        .s6 { color: #B880FF; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 12pt; }
        .p, p { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; margin:0pt; }
        .s7 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
        .s8 { color: #3772FF; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 14pt; }
        .s9 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 11pt; }
        .s10 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; vertical-align: 3pt; }
        .s11 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
        h3 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
               hr {color: #3772FF}
    </style>
</head>

<body style="padding-left: 30pt; padding-right: 35pt">

<div style="text-align: right">
    <img th:src="@{src/main/resources/images/meedz-title.jpg}" alt="logo MEEDZ" width="24%"/>
</div>
<div style="display: inline-block; width: 100%; margin-bottom: 20pt">
    <span style="display: inline-block; width: 22%">
        <img th:src="@{src/main/resources/images/meedz-logo.jpg}" alt="logo MEEDZ" width="80pt"/>
    </span>
    <span style="display: inline-block; width: 70%">
        <h1
                style="color: black"
                th:text="${first_name}">
        </h1>
        <h2
                th:text="${actual_function}">
        </h2>
        <h2
                th:text="${experience_years} + ' années d\'expériences'">
        </h2>
    </span>
</div>

<div th:remove="tag" th:utext="${resume}" class="s1"></div>

<hr/>

<h1 style="padding-top: 10pt; text-indent: 0pt; text-align: left;">Résumé</h1>
<ul>
    <li
            th:each="experience : ${experiences}"
            th:text="${experience.convertDateToString(experience.begin_date)} + ' au ' + ${experience.convertDateToString(experience.ending_date)} + ' : ' + ${experience.client} + ' - ' + ${experience.work_function}">
    </li>
</ul>

<hr/>

<div style="padding-bottom: 10pt;">
    <h1 style="padding-top: 10pt; padding-bottom: 10pt;">Compétences</h1>
    <div th:remove="tag" th:utext="${skills}" class="s1"></div>
</div>

<hr/>

<h1 style="padding-top: 10pt; padding-bottom: 10pt;">Expériences Professionnelles</h1>
<div class="s4" th:each="experience : ${experiences}">
    <div th:text="${experience.convertDateToString(experience.begin_date)} + ' au ' + ${experience.convertDateToString(experience.ending_date)} + ' : ' + ${experience.client} + ' - ' + ${experience.work_function}"></div>
    <div th:remove="tag" th:utext="${experience.details}"></div>
</div>

<hr/>

<div class="s4" style="padding-bottom: 10pt;">
    <h2 style="padding-top: 10pt; padding-bottom: 10pt;">Langues</h2>
    <div th:each="language : ${languages}" th:text="${language}"></div>
</div>

<hr/>

<h2 style="padding-top: 10pt; padding-bottom: 10pt;">Formation</h2>
<div class="s4" th:each="learning : ${learnings}">
    <span style="font-weight: bold" th:text="${learning.convertDateToString(learning.ending_date)}"></span>
    <span th:text=" '- ' + ${learning.institution}"></span>
    <span th:text=" '- ' + ${learning.name}"></span>
</div>

</body>

</html>
